<form class="p-3">
    <div class="form-group">
        <label class="form-control-label"> Nome </label>
        <input class="form-control" type="text" ng-model="vm.airport.name" />
    </div>
    <h3>Escala</h3>
    <div class="card">
        <div class="card m-2 pt-2">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-control-label"> Nome Identificador </label>
                        <input class="form-control" type="text" ng-model="vm.airport.location.name" />
                    </div>

                    <div class="form-group">
                        <label class="form-control-label"> Cep </label>
                        <input class="form-control" type="text" ng-model="vm.airport.location.zip" ng-model-options="{debounce:500}" ng-change="vm.zipLookup(vm.airport.location.zip, $index)"
                        />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label"> Estado </label>
                        <input class="form-control" type="text" ng-model="vm.airport.location.state" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-control-label"> Rua </label>
                        <input class="form-control" type="text" ng-model="vm.airport.location.street" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label"> Cidade </label>
                        <input class="form-control" type="text" ng-model="vm.airport.location.city" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <button class="btn btn-success btn-small mt-5" ng-click="vm.submit(this)" ng-disabled="!vm.validAirport(vm.airport)"> Salvar </button>
</form>