<div>
    <div class="row p-2">
        <div class="col">
            <button class="btn btn-success float-right" ui-sref="admin.airport({ id:null })">Novo</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <th>Nome</th>
            <th>Localidade</th>
            <th>Opções</th>
        </thead>
        <tbody>
            <tr ng-repeat="airport in vm.airports">
                <td>{{airport.name}}</td>
                <td>{{airport.location.name}}</td>
                <td>
                    <button class="btn btn-success" ui-sref="admin.airport({ id:airport.id })">Editar</button>
                    <button class="btn btn-danger" ng-click="vm.delete(airport.id)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>