<div>
    <div class="row p-2">
        <div class="col">
            <button class="btn btn-success float-right" ui-sref="admin.flight({ id:null })">Novo</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <th>Identificador</th>
            <th>Avião</th>
            <th>Rota</th>
            <th>Opções</th>
        </thead>
        <tbody>
            <tr ng-repeat="flight in vm.flights">
                <td>{{flight.description}}</td>
                <td>{{flight.plane.name}}</td>
                <td>{{flight.route.description}}</td>
                <td>
                    <button class="btn btn-success" ui-sref="admin.flight({ id:flight.id })">Editar</button>
                    <button class="btn btn-danger" ng-click="vm.delete(flight.id)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>