<form class="p-3">
    <div class="form-group">
        <label className="form-control-label"> Identificador </label>
        <input class="form-control" type="text" ng-model="vm.flight.identifier" />
    </div>
    <div class="form-group">
        <label className="form-control-label"> Descrição </label>
        <input class="form-control" type="text" ng-model="vm.flight.description" />
    </div>
    <div class="form-group">
        <label className="form-control-label"> Imagem (Url) </label>
        <input class="form-control" type="text" ng-model="vm.flight.imagePath" />
    </div>
    <div class="form-group">
        <label className="form-control-label"> Preço </label>
        <input class="form-control" type="text" ng-model="vm.flight.value" />
    </div>

    <div class="form-group">
        <label className="form-control-label"> Pontos </label>
        <input class="form-control" type="text" ng-model="vm.flight.points" />
    </div>

    <div class="row">
        <div class="form-group col-4">
            <label className="form-control-label"> Data Saída </label>
            <input class="form-control" ng-model="vm.flight.outDate" start-date="vm.flight.outDate" ng-model-options="{ updateOn: 'blur' }"
                locale="pt-br" placeholder="Selecione a data..." moment-picker="vm.flight.outDatea" format="DD/MM/YYYY HH:mm">
                {{vm.flight.outDate | date:"dd/MM/yyyy hh:mm"}}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-4">
            <label className="form-control-label"> Data Chegada </label>
            <input class="form-control" ng-model="vm.flight.arriveDate" ng-model-options="{ updateOn: 'blur' }" locale="pt-br" placeholder="Selecione a data..."
                moment-picker="vm.flight.arriveDatea" format="DD/MM/YYYY HH:mm"> 
                {{vm.flight.arriveDate | date:"dd/MM/yyyy hh:mm"}}
        </div>
    </div>

    <div class="form-group">
        <label className="form-control-label"> Avião </label>
        <select class="form-control" ng-options="plane as plane.name for plane in vm.planes track by plane.id" ng-model="vm.flight.plane">
        </select>
    </div>
    <div class="form-group">
        <label className="form-control-label"> Rota </label>
        <select class="form-control" ng-options="route as route.description for route in vm.routes track by route.id" ng-model="vm.flight.route">
        </select>
    </div>
    <button class="btn btn-success btn-small" ng-click="vm.submit(this)" ng-disabled="!vm.validFlight(vm.flight)"> Salvar </button>
</form>