<form class="p-3">
    <div class="form-group">
        <label className="form-control-label"> Nome </label>
        <input class="form-control" type="text" ng-model="vm.plane.name" />
    </div>
    <div class="form-group">
        <label className="form-control-label"> Marca </label>
        <select class="form-control" ng-options="brand as brand.name for brand in vm.brands track by brand.name" ng-change="vm.selectBrand(vm.selectedBrand)"
            ng-model="vm.selectedBrand">
        </select>
    </div>
    <div class="form-group">
        <label className="form-control-label"> Assentos </label>
        <input class="form-control" type="number" ng-model="vm.plane.seats" />
    </div>
    <button class="btn btn-success" ng-click="vm.submit(this)" ng-disabled="!vm.validPlane(vm.plane)">Enviar</button>
</form>