<div>
    <div class="row p-2">
        <div class="col">
            <button class="btn btn-success float-right" ui-sref="admin.plane({ id:null })">Novo</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <th>Nome</th>
            <th>Marca</th>
            <th>Assentos</th>
            <th>Opções</th>
        </thead>
        <tbody>
            <tr ng-repeat="plane in vm.planes">
                <td>{{plane.name}}</td>
                <td>{{plane.brand}}</td>
                <td>{{plane.seats}}</td>
                <td>
                    <button class="btn btn-success" ui-sref="admin.plane({ id:plane.id })">Editar</button>
                    <button class="btn btn-danger" ng-click="vm.delete(plane.id)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>