<div>
    <h1 class="text-black">Carrinho</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Valor</th>
                <th width="20">Quantidade</th>
                <th>SubTotal</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.items">
                <td>{{item.identifier}} - {{item.description}}</td>
                <td>R$ {{item.value}}</td>
                <td>
                    <input type="number" ng-model="item.quantity" ng-change="vm.updateQuantity(item)"/>
                </td>
                <td>R$ {{item.value*item.quantity}}</td>
                <td><button class="btn btn-danger" ng-click="vm.removeItem(item, $index)">Remover</button></td>
            </tr>
            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td>R$ {{vm.totalValue()}}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-success mb-5" ng-click="vm.proceedPurchase()">Finalizar Compra</button>
</div>