<div>
    <div id="index-navbar-background">
        <div id="index-navbar-background-overlay">
            <div id="index-navbar-title">
                <h2>IASP Airline</h2>
            </div>
        </div>
        <nav id="index-top-bar" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class=" navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" ng-repeat="menuItem in vm.menuItems">
                        <a class="nav-link" href="{{menuItem.link}}">
                            <span class="col-12">
                                <i class="{{menuItem.icon}}"></i>
                                {{menuItem.text}}
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="text-white">
                    <button class="btn btn-dark" ui-sref="index.cart({})">
                        <i class="fas fa-shopping-basket"></i>
                        Carrinho: {{ vm.cart.getCartQuantity() }}
                    </button>
                    <button class="btn btn-dark" ng-click="vm.loginDialog()" ng-if="!vm.loggedUser">
                        <i class="fas fa-sign-in-alt"></i>
                        Entrar {{vm.loggedUser}}
                    </button>
                    <button class="btn btn-dark" ng-click="vm.registerDialog()" ng-if="!vm.loggedUser">
                        <i class="fas fa-user"></i>
                        Registrar-se
                    </button>
                    <button class="btn btn-dark" ui-sref="index.purchases({ id:vm.loggedUser.person.id })" ng-if="vm.loggedUser">
                        <i class="fas fa-box"></i>
                        Meus Pedidos
                    </button>
                    <button class="btn btn-dark" ng-click="vm.profile(vm.loggedUser.id)" ng-if="vm.loggedUser">
                        <i class="fas fa-user"></i>
                        Perfil ({{vm.loggedUser.person.name}})
                    </button>
                    <button class="btn btn-dark" ng-click="vm.logout()" ng-if="vm.loggedUser">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </button>
                </div>
            </div>
        </nav>
    </div>

    <div id="index-content" class="mt-5 container-fluid" ui-view>
        <div class="row"><img src="/css/india.png"/></div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Trabalho da Facul LTDA. 2018 - 2018</span>
    </div>
</footer>