<div class="row">
    <div class="col mb-3">
        <b>Busca:</b>
        <input type="text" ng-model="vm.searchCriteria" ng-change="vm.search(vm.searchCriteria)"
        />
    </div>
</div>

<div class="row">
    <div ng-repeat="flight in vm.flights | filter:vm.search(vm.searchCriteria)" class="col-4 mb-2">
        <div class="card">
            <img class="card-img-top" ng-src="{{flight.imagePath}}" />
            <div class="card-body">
                <div class="card-body">
                    <h5 class="card-title">{{flight.description}}</h5>
                    <p class="card-title">
                        <div>
                            {{flight.route.description}}
                        </div>
                        <div>
                            {{flight.outDate | date: "dd/MM/yyyy hh:mm"}} - {{flight.arriveDate | date: "dd/MM/yyyy hh:mm"}}
                        </div>
                        <div>
                            Preço: R$ {{flight.value}}
                        </div>
                    </p>
                    <a href="#" class="btn btn-primary" ng-click="vm.details(flight)">
                        <i class="fas fa-search"></i> Detalhes
                    </a>
                    <a href="#" class="btn btn-success" ng-click="vm.addToCart(flight)">
                        <i class="fas fa-shopping-basket"></i> Adicionar ao Carrinho
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>