<form class="p-3">
    <div class="mb-4">
        <h3>Data</h3>
        <b>{{vm.purchase.date | date:"dd/MM/yyyy"}}</b>
    </div>

    <div class="mb-4">
        <h3>Valor</h3>
        <b>R$ {{vm.purchase.value}}</b>
    </div>

    <div class="mb-4">
        <h3>Código</h3>
        <b>{{vm.purchase.uuid}}</b>
    </div>

    <h3>Tickets</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Número</th>
                <th>Voo</th>
                <th>Saída</th>
                <th>Chegada</th>
                <th>Rota</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ticket in vm.purchase.tickets track by $index">
                <td>{{$index+1}}</td>
                <td>{{ticket.flight.identifier}}</td>
                <td>{{ticket.flight.outDate | date: "dd/MM/yyyy hh:mm"}}</td>
                <td>{{ticket.flight.arriveDate | date: "dd/MM/yyyy hh:mm"}}</td>
                <td>
                    <div ng-repeat="location in ticket.flight.route.stopovers">
                        {{location.name}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</form>