<div>
    <div class="row p-2">
    </div>
    <table class="table table-hover">
        <thead>
            <th>Data</th>
            <th>Valor R$</th>
            <th>Tickets</th>
            <th>Opções</th>
        </thead>
        <tbody>
            <tr ng-repeat="purchase in vm.purchases">
                <td>{{purchase.date | date:"dd/MM/yyyy"}}</td>
                <td>{{purchase.value}}</td>
                <td>{{purchase.tickets.length}}</td>
                <td>
                    <button class="btn btn-info" ui-sref="admin.purchase({ id:purchase.id })">Visualizar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>