<div>
    <div class="row p-2">
        <div class="col">
            <button class="btn btn-success float-right" ui-sref="admin.route({ id:null })">Novo</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <th>Descrição</th>
            <th>Paradas</th>
            <th>Opções</th>
        </thead>
        <tbody>
            <tr ng-repeat="route in vm.routes">
                <td>{{route.description}}</td>
                <td>
                    <ul>
                        <li ng-repeat="stopover in route.stopovers">
                            {{stopover.name}}
                        </li>
                    </ul>
                <td>
                    <button class="btn btn-success" ui-sref="admin.route({ id:route.id })">Editar</button>
                    <button class="btn btn-danger" ng-click="vm.delete(route.id)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>