<form class="p-3">
    <div class="form-group">
        <label class="form-control-label"> Descrição </label>
        <input class="form-control" type="text" ng-model="vm.route.description" />
    </div>
    <h3>Escala</h3>
    <div class="card">
        <div ng-repeat="stopover in vm.route.stopovers track by $index" class="card m-2 col-4 w-100 pr-0">
            <div class="w-100">
                <button class="btn btn-danger btn-sm float-sm-right" ng-click="vm.route.stopovers.splice($index,1)">
                    <i class="fas fa-close"></i>
                    Remover
                </button>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <select class="form-control" ng-options="airport as airport.name for airport in vm.airports track by airport.id" ng-model="stopover.location">
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <button class="btn btn-success btn-sm" ng-click="vm.route.stopovers.push({location:vm.airports[0]})"> Adicionar Escala </button>
        </div>
    </div>

    <button class="btn btn-success btn-small mt-5" ng-click="vm.submit(this)" ng-disabled="!vm.validRoute(vm.route)"> Salvar </button>
</form>







<!-- 

<form class="p-3">
    <div class="form-group">
        <label class="form-control-label"> Descrição </label>
        <input class="form-control" type="text" ng-model="vm.route.description" />
    </div>
    <h3>Escala</h3>
    <div class="card">
        <div ng-repeat="stopover in vm.route.stopovers" class="card m-2">
            <div>
                <button class="btn btn-danger btn-sm float-sm-right" ng-click="vm.route.stopovers.splice($index,1)">
                    <i class="fas fa-close"></i>
                    Remover
                </button>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-control-label"> Nome Identificador </label>
                        <input class="form-control" type="text" ng-model="stopover.name" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label"> Rua </label>
                        <input class="form-control" type="text" ng-model="stopover.street" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label"> Estado </label>
                        <input class="form-control" type="text" ng-model="stopover.state" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-control-label"> Cep </label>
                        <input class="form-control" type="text" ng-model="stopover.zip" ng-model-options="{debounce:500}" ng-change="vm.zipLookup(stopover.zip, $index)"
                        />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label"> Cidade </label>
                        <input class="form-control" type="text" ng-model="stopover.city" />
                    </div>
                </div>

            </div>
        </div>
        <div>
            <button class="btn btn-success btn-sm" ng-click="vm.route.stopovers.push({})"> Adicionar Escala </button>
        </div>
    </div>

    <button class="btn btn-success btn-small mt-5" ng-click="vm.submit(this)"> Salvar </button>
</form> -->