<div>
    <div class="row p-2">
        <div class="col">
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Compras</th>
            <th>Opções</th>
        </thead>
        <tbody>
            <tr ng-repeat="client in vm.clients">
                <td>{{client.name}}</td>
                <td>{{client.cpf}}</td>
                <td>{{client.purchases.length}}</td>
                <td>
                    <button class="btn btn-info" ui-sref="admin.client({ id:client.id })">Visualizar</button>
                    <!-- <button class="btn btn-danger" ng-click="vm.delete(client.id)">Remover</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>