<form class="p-3">
    <div class="form-group">
        <label class="form-control-label"> Nome </label>
        <input class="form-control" type="text" ng-model="vm.client.name" />
    </div>
    <div class="form-group">
        <label class="form-control-label"> CPF </label>
        <input class="form-control" type="text" ng-model="vm.client.cpf" />
    </div>

    <h3>Compras</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Número</th>
                <th>Data</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="purchase in vm.client.purchases track by $index">
                <td>{{$index+1}}</td>
                <td>{{purchase.date | date:"dd/MM/yyyy"}}</td>
                <td>{{purchase.value}}</td>
            </tr>
        </tbody>
    </table>

</form>