<div id="main" class="h-100">
    <div class="row h-100 mr-0">
        <left-menu></left-menu>
        <div id="left-block" class="col-10 h-100 w-100 p-0" style="overflow-y:auto">
            <navbar></navbar>
            <div id="content" class="w-100" ui-view></div>
        </div>
    </div>
</div>