<form class="p-3">
    <h3>Porcentagem de pontos recebidos por nível de cliente</h3>
    <div class="mb-4">
        <div class="form-group">
            <label className="form-control-label"> Cliente Nível 1 </label>
            <input class="form-control" type="text" ng-model="vm.config.levelOnePercent" />
        </div>
    </div>

    <div class="mb-4">
        <div class="form-group">
            <label className="form-control-label"> Cliente Nível 2 </label>
            <input class="form-control" type="text" ng-model="vm.config.levelTwoPercent" />
        </div>
    </div>

    <div class="mb-4">
        <div class="form-group">
            <label className="form-control-label"> Cliente Nível 3 </label>
            <input class="form-control" type="text" ng-model="vm.config.levelThreePercent" />
        </div>
    </div>
    <button class="btn btn-success" ng-click="vm.submit()">Salvar</button>
</form>