<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ $modal.title }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div>
        <img ng-src="{{$modal.flight.imagePath}}" class="w-100" />
    </div>
    <h3>Identificador</h3>
    <div>{{$modal.flight.identifier}}</div>

    <h3>Descrição</h3>
    <div>{{$modal.flight.description}}</div>

    <h3>Data Saída</h3>
    <div>{{$modal.flight.outDate | date:"dd/MM/yyyy hh:mm"}} </div>

    <h3>Data Chegada</h3>
    <div> {{$modal.flight.arriveDate | date:"dd/MM/yyyy hh:mm"}} </div>

    <h3>Avião</h3>
    <div> {{$modal.flight.plane.name}} </div>

    <h3>Preço</h3>
    <div> R$ {{$modal.flight.value}} </div>

    <h3>Rota/Escala</h3>
    <ul>
        <li ng-repeat="stopover in $modal.flight.route.stopovers"> {{stopover.name}} </li>
    </ul>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$modal.dismiss()">OK</button>
</div>