<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ $modal.title }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <h4>{{ $modal.message }}</h4>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$modal.dismiss()">OK</button>
</div>