<div id="right-block" class="col-2 h-100 w-100 pr-0">
    <div id="left-menu">
        <div class="row justify-content-center text-light">
            <h1> Name </h1>
        </div>
        <hr />
        <ul class="nav flex-column nav-fill">

            <li class="nav-item" ng-repeat="menuItem in leftMenu.items" ng-class="{'active':menuItem.active}">
                <a class="nav-link" href="/admin{{menuItem.link}}" ng-click="leftMenu.clickLink()">
                    <span class="col-5">
                        <i class="{{menuItem.icon}}"></i>
                    </span>
                    <span class="col-9">{{menuItem.title}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>