<div id="login-page" class="w-100 h-100 position-absolute d-flex align-items-center justify-content-center">
    <div class="border card d-flex align-items-center flex-column w-30 mw-30" style={{ "maxWidth": "30%"}}>

        <form class="p-5">
            <h3 class="display-4 text-center"> Login </h3>
            <div class="form-group">
                <label class="form-control-label"> Usuário </label>
                <input class="form-control" placeholder="" type="text" ng-model="loginCtrl.user.username" />
            </div>
            
            <div class="form-group">
                <label class="form-control-label"> Password </label>
                <input class="form-control" placeholder="" type="password" ng-model="loginCtrl.user.password" />
            </div>

            <div class="form-group">
                <button class="btn btn-default btn-lg btn-block" ng-click="loginCtrl.login(loginCtrl.user)">Entrar</button>
            </div>
        </form>
    </div>
</div>