<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#"> Menu </a> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!-- <a class="nav-link" href="">
                    <span class="col-5">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="col-9"> item </span>
                </a> -->
            </li>
        </ul>
        <div>
            <i class="fas fa-user"></i>
            <b class="mr-5">{{navBar.loggedUser.person.name}}</b>
            <button class="btn btn-default" ng-click="navBar.logout()">
                <i class="fas fa-sign-out-alt"></i>
                Sair
            </button>
        </div>
    </div>
</nav>