<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ $modal.title }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="border card d-flex align-items-center flex-column w-30 mw-30">

        <h3 class="display-4 text-center"> Pagamento </h3>
        <form class="p-6">
            <div class="form-group">
                <label class="form-control-label"> Número Cartão </label>
                <input class="form-control" placeholder="" type="text" ng-model="$modal.payment.cardNumber" />
            </div>

            <div class="form-group">
                <label class="form-control-label"> Validade </label>
                <input class="form-control" ng-model="$modal.payment.validity" ng-model-options="{ updateOn: 'blur' }" locale="pt-br" placeholder="Selecione a data..."
                    moment-picker="$modal.payment.validityMoment" format="MM/YYYY">
            </div>

            <div class="form-group">
                <label class="form-control-label"> Código Cartão </label>
                <input class="form-control" placeholder="" type="text" ng-model="$modal.payment.backCode" />
            </div>

            <div class="form-group">
                <button class="btn btn-success btn-lg btn-block" ng-click="$modal.buy($modal.payment)" ng-disabled="!$modal.paymentValidated($modal.payment)">Comprar</button>
                <button class="btn btn-success btn-lg btn-block" ng-click="$modal.buyWithDiscount($modal.payment)" ng-disabled="!$modal.paymentValidated($modal.payment) || !$modal.points">
                    Comprar usando pontos R$ {{$modal.totalWithPoints() | number:2}} ({{$modal.points}} pontos)
                </button>
                <button class="btn btn-default btn-lg btn-block" ng-click="$modal.dismiss()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer"></div>