<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ $modal.title }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="border card d-flex align-items-center flex-column w-30 mw-30">
        <form class="p-5">
            <div class="form-group">
                <label class="form-control-label"> Nome </label>
                <input class="form-control" placeholder="Nome" type="text" ng-model="$modal.user.person.name" />
            </div>
            <div class="form-group">
                <label class="form-control-label"> CPF </label>
                <input class="form-control" placeholder="cpf" type="text" ng-model="$modal.user.person.cpf" />
            </div>
            <div class="form-group">
                <label class="form-control-label"> Usuário </label>
                <input class="form-control" placeholder="Nome de usuário" type="text" ng-model="$modal.user.username" />
            </div>
            <div class="form-group">
                <label class="form-control-label"> Senha </label>
                <input class="form-control" placeholder="Senha" type="password" ng-model="$modal.user.password" />
            </div>
            <div class="form-group">
                <button class="btn btn-default btn-lg btn-block" ng-click="$modal.register($modal.user)" ng-disabled="!$modal.userValidated($modal.user)">Cadastrar</button>
                <button class="btn btn-default btn-lg btn-block" ng-click="$modal.dismiss()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer"></div>