<div>
    <div class="row p-2">
        <div class="col">
            <button class="btn btn-success float-right" ui-sref="admin.location({ id:null })">Novo</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <th>Endereço</th>
            <th>CEP</th>
            <th>Lat/Lng</th>
            <th>Opções</th>
        </thead>
        <tbody>
            <tr ng-repeat="location in vm.locations">
                <td>{{location.street}}</td>
                <td>{{location.zip}}</td>
                <td>{{location.latitude}} / {{location.longitude}}</td>
                <td>
                    <button class="btn btn-success" ui-sref="admin.location({ id:location.id })">Editar</button>
                    <button class="btn btn-danger" ng-click="vm.delete(location.id)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>