<form class="p-3">
    <fieldset>
        <h2>Endereço</h2>
        <div class="form-group">
            <label class="form-control-label"> Name </label>
            <input class="form-control" type="text" ng-model="vm.location.name" />
        </div>
        
        <div class="form-group">
            <label class="form-control-label"> Cep </label>
            <input class="form-control" type="text" ng-model="vm.location.cep" />
        </div>

        <div class="form-group">
            <label class="form-control-label"> Street </label>
            <input class="form-control" type="text" ng-model="vm.location.street" />
        </div>

        <div class="form-group">
            <label class="form-control-label"> City </label>
            <input class="form-control" type="text" ng-model="vm.location.city" />
        </div>

        <div class="form-group">
            <label class="form-control-label"> State </label>
            <input class="form-control" type="text" ng-model="vm.location.state" />
        </div>

    </fieldset>
 <!-- private String name; private String street; private String city; private String state; private String zip; -->

    <button class="btn btn-success" ng-click="vm.submit(this)">Enviar</button>
</form>