
#index-navbar-background{
    width: 100%;
    height: 200px;
    background: url(/css/cloud.webp);
    background-position: center;
    background-size: 100%;
}

#index-navbar-background-overlay{
    width: 100%;
    height: 260px;
    background:  rgba(255, 255, 255, 0.6);
    position:absolute;
}

#index-navbar-background #index-top-bar {
    position: absolute;
    width: 98%;
    margin-top:15px;
    margin-left:1%;
    border-bottom: 8px solid #686de0;
}

#index-navbar-title{
    text-align:center;
    margin:120px auto;
    font-family:Arial, Helvetica, sans-serif;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}