html, body {
  height: 100%;
}

#content .row{
  margin-left: 0;
  margin-right: 0;
}

#left-menu {
  /* width: 20%; */
  height: 100%;
  /* position: absolute; */
  background: #333;
  /* padding:10px; */
}

#left-menu .nav-fill .nav-item{
  text-align: left;
}

#left-menu .nav-fill .nav-item.active{
  background: #686de0;
}

#left-menu .nav .nav-item .nav-link {
  color: #d9d9d9;
}

#left-menu .nav .nav-item:hover:not(.active){
  background: rgba(0, 0, 0, 0.5);
  border-left: 5px solid #666;
}

#left-menu .nav .nav-item .active{
  background: none;
  border-left: 5px solid #666;
}

#left-menu .nav .nav-item .icon{
  width: 50%
}

