#login-page {
    overflow: visible !important;
    background: -webkit-linear-gradient(45deg, #393B45 10%, #6E788A 90%);
    background: -moz-linear-gradient(45deg, #393B45 10%, #6E788A 90%);
    background: -ms-linear-gradient(45deg, #393B45 10%, #6E788A 90%);
    background: -o-linear-gradient(45deg, #393B45 10%, #6E788A 90%);
    background: linear-gradient(45deg, #393B45 10%, #6E788A 90%);
}
